
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "noto-serif";
    line-height: 1.6;
    background-color: #e6e6e6;
}

.box{
    background-image:  linear-gradient(#eca869, transparent 30%), url(https://www.fundacionmapfre.org/media/blog/campana-camiones-autobuses-1194x585-1.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
}

header{
    background-color: #ffffff;
    color: rgb(34, 32, 32);
    padding: 0px 0;
}

.header-logo{
    width: 100px;
    height: 100px;
}

.Logo{
    width: 700px;
    height: 200px;
    align-content: center;
}

main{
    font-family: "noto-serif";
}

div{
    font-family: "noto-serif";
}

section{
    font-family: "noto-serif";
}

header h1{
    text-align: center;
}

nav ul {
    background-color: #ccc;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 40px;
    align-content: center;
    
}

nav ul li {
    margin: 0 16px;
}

nav ul li a {
    color: rgb(85, 82, 82);
    border: solid top #000;
    padding: 8px 16px;
}

nav ul li a:hover{
    background: white;
    color: #333;
    border-radius: 10px;
}

h2{
    font-size: 40px;
}

section h2, section p, section ul{
    text-align: center;
    color: #333;
}

.golosinas{
    width: 200px;
    height: 200px;
    box-sizing: 100px;
}

section h2{
    padding: 25px;
}

section p{
    padding: 0 40px;
}

section ul li{
    padding: 8px 0;
}

footer{
    background-color: #ccc;
    color: #000000;
    text-align: center;
    padding: 4px 0;
    width: 100%;
    bottom: 0;
}

